@keyframes slide {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-100%);
   }
}

.logos {
   overflow: hidden;
   padding-block: 20px;
   white-space: nowrap;
}

.logos-slide {
   display: inline-block;
}

.slide {
   display: inline-flex;
   animation: 45s slide infinite linear;
}
